# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Edit your .gitignore file and add these lines at the end:

# Environment variables
.env
.env.local
.env.*.local
.env.production.local

# Build files
.vite

# IDE
*.iml

# OS
Thumbs.db
